@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

main {
	aside.columns,
	article.columns {
		padding-left: 0;
		padding-right: 0;
	}
	
	article {
		background-color: $snow;
		padding: 3rem 0;
		
		small.error {
			position: relative;
			z-index: 0;
			bottom: rem-calc(5);
			border-radius: 0 0 $global-radius $global-radius;
		}
		
		strong {
			color: $jumbo;
		}
		
		.main-body {
			.my-stack {
				li {
					text-align: center;
					position: relative;
					
					&::before {
						opacity: 0;
						top: 0;
					}
					
					&:hover {
						&::before {
							content: attr(data-text);
							left: 0;
							right: 0;
							top: -2.25rem;
							margin-left: auto;
							margin-right: auto;
							background: $charcoal;
							position: absolute;
							opacity: 1;
							border-radius: $global-radius;
							color: $silver;
							padding: .125rem 0;
						}
						
						&::after {
						  border: inset 5px;
						  position: absolute;
						  content: "";
						  display: block;
						  height: 0;
						  width: 0;
						  left: 0;
						  right: 0;
						  top: -.5rem;
						  margin-left: auto;
						  margin-right: auto;
					    border-color: $charcoal transparent transparent transparent;
							border-top-style: solid;
						}
					}
					
					i {
						font-size: 5rem;
						filter: grayscale(100%);
						transition: .2s;
						
						&:hover {
							filter: grayscale(0%);
						}
					}
				}
			}
			
			.my-projects {
				li {
					h5 {
						margin-top: 1rem;
					}
					
					img {
						display: block;
						margin: 0 auto;
						border-radius: $global-radius;
						-webkit-box-shadow: 0px 4px 0px 0px $gainsboro;
						-moz-box-shadow: 0px 4px 0px 0px $gainsboro;
						box-shadow: 0px 4px 0px 0px $gainsboro;
					}
				}
			}
			
			@media #{$large-up} {
				.form-left {
					padding-right: (0.9375rem / 2);
				}
				
				.form-right {
					padding-left: (0.9375rem / 2);
				}				
			}
			
			.my-contact-info {
				li {
					margin-bottom: 1rem;
					padding-left: 2.25rem;
					position: relative;
					
					&::before {
						font-family: FontAwesome;
						position: absolute;
						text-align: center;
						left: 0;
						width: 2rem;
						font-size: 1.5rem;
						top: -.5rem;
						color: $primary-color;
					}
					
					&.address {
						&::before {
							content: '\f015';
						}
					}
					
					&.phone {
						&::before {
							content: '\f10b';
						}
					}
					
					&.email {
						&::before {
							content: '\f0e0';
						}
					}
					
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		
		hr {
			margin-top: 3rem;
			margin-bottom: 4rem;
		}
		
		@media #{$large-up} {
			width: calc(100% - 35%);
			padding: 6rem 3rem 6rem 0;
			@include clearfix;	
			
			.main-body{
				float: right;	
				max-width: 54rem;
			}
		}
	}
	
	aside {
		background-image: url(../img/sidebar.jpg);
		background-size: cover;
		background-position: center top;
		padding: 3rem 0;
		text-align: center;
		
		@media #{$large-up} {
			height: 100vh;
			width: 35%;
			position: fixed;
			right: 0;
			padding: 6rem 6rem 0 3rem;
			text-align: left;

			footer {
				position: absolute;
				width: 100%;
				bottom: -150%;
			}
		}
		
		img {
			width: 100px;
			border-radius: 1000px;
			margin-bottom: 2rem;
			border: 2px solid $primary-color;
			
			@media #{$small-only} {
				width: 150px;
			}
			
		}
		
		strong {
			color: $silver;
			border-bottom: 1px dotted $silver;
		}
		
		.my-links {
			margin-top: 1rem;
			
			li {
				float: none;
				display: inline-block;
				i {
					font-size: 1.5rem;
				}
			}
		}
	}
}

input[type=text],
input[type=email],
textarea {
	background-color: $silver;
	border-radius: $global-radius;
	box-shadow: none;
	border: 2px solid $base;
	min-height: 49px;
	position: relative;
	z-index: 2;
	
	&:focus {
		background: $snow;
		border: 2px solid $primary-color;
	}
}

.hollow.button {
	background: $silver;
	color: $base;
	border: 2px solid $base;
	border-radius: $global-radius;
	
	&:hover {
		background: transparent;
		border-color: $primary-color;
		color: $primary-color;
	}
	
	@media #{$small-only} {
		width: 100%;
	}
	
}