<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Signika:300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
		<title>InsureSpan | Welcome</title>
		<link rel="stylesheet" href="./css/app.css" />
		<!-- Design Inspiration: https://dribbble.com/shots/2648878-Project-Square-Free-Dashboard-PSD/attachments/531392 -->
	</head>
	<body ng-app="angularApp" ng-controller="AppCtrl">
		<nav class="main-nav">
		  <top-bar>
		    <ul class="title-area">
		      <li class="name">
		        <h1><a href="#/">insure&bull;<span>span</span></a></h1>
		      </li>
		      <li toggle-top-bar class="menu-icon" ng-if="auth.user"><a ng-click="toggleSidebar()"><i class="entypo-menu"></i></a></li>
		    </ul>
		
		    <top-bar-section>
		    	<!-- Left Nav Section -->
		      <ul class="left hide-for-small">
		      	<li class="user-info" ng-if="auth.user">
							<a href="">
								<img src="https://secure.gravatar.com/avatar/f9d5184e826d247e89708a0a4a014d49?s=64" alt="Place Holder">
								<span>Hi, John Doe</span>
							</a>
		      	</li>
		      </ul>

		      <!-- Right Nav Section -->
		      <ul class="right hide-for-small">
		      	<li class="app-status" ng-if="app.loading">
		      		<a><span class="saving"><span></span>
		      		<span></span>
		      		<span></span></span></a>
		      	</li>
		      	<li class="nav-button">
						  <a href="#/claim"><span><i class="entypo-flag"></i>Report A Loss</span></a>
						</li>
		      </ul>
		    </top-bar-section>
		  </top-bar>
		</nav>

		<nav class="sidebar" ng-if="auth.user" ng-class="{'open': showSidebar}">
			<ul class="main-menu">
				<li ng-click="toggleSidebar()" class="show-for-small-only"><a href=""><i class="entypo-user"></i>Hi, {{ auth.data.name }}</a></li>
				<li ng-click="toggleSidebar()" class="divider show-for-small-only"></li>
				<li ng-click="toggleSidebar()" ng-class="{ active: isActive('/')}"><a href="#/"><i class="entypo-doc-text"></i>My Policies</a></li>
				<li ng-click="toggleSidebar()" class="hide"><a href=""><i class="entypo-plus-squared"></i>New Policy</a></li>
				<li ng-click="toggleSidebar()" ng-class="{ active: isActive('/claim')}" class="show-for-small-only"><a href="#/claim"><i class="entypo-flag"></i>Report A Loss</a></li>
				<li ng-click="toggleSidebar()" ng-class="{ active: isActive('/payment')}"><a href="#/payment"><i class="entypo-credit-card"></i>Pay Bill</a></li>
				<li ng-click="toggleSidebar()"><a href=""><i class="entypo-chat"></i>Support</a></li>
				<li ng-click="toggleSidebar()"><a ng-click="logout()"><i class="entypo-logout"></i>Logout</a></li>
			</ul>
		</nav>

	  <main ng-class="{'squishy': auth.user}">
	  	<ng-view></ng-view>
	  </main>
	
		<script src="./js/app.js"></script>
		<script src="//localhost:35729/livereload.js?snipver=1" type="text/javascript"></script>
	</body>
</html>