<main>
	<aside>
		<section>
			<a class="button dropdown" dropdown-toggle="#dropdown-example-2">Jan. 31, 2016 - Jan. 31, 2017</a>
		  <ul id="dropdown-example-2" class="f-dropdown">
		    <li><a href="#">Jan. 31, 2015 - Jan. 31, 2016</a></li>
		    <li><a href="#">Jan. 31, 2014 - Jan. 31, 2015</a></li>
		    <li><a href="#">Jan. 31, 2013 - Jan. 31, 2014</a></li>
		    <li><a href="#">Jan. 31, 2012 - Jan. 31, 2013</a></li>
		  </ul>

		  <section class="sidebar-item">
				<h3>Flood Policy</h3>
				<h6>For <strong>123 Main St., Layton UT</strong></h6>
		  </section>
		  <section class="sidebar-item">
				<h6>Name Of Insured:</h6>
				<h5>John H. Doe</h5>
		  </section>
		  <section class="sidebar-item">
				<h6>Policy #:</h6>
				<h5>NCIP123456</h5>
		  </section>
		  <section class="sidebar-item">
				<h6>Annual Premium:</h6>
				<h5>$1,234.00</h5>
		  </section>
		  <section class="sidebar-item">
				<h6>Payment Due:</h6>
				<h5>$1,234.00</h5>
		  </section>
		</section>
	</aside>

	<article>
		<section>
			<tabset>
		    <tab heading="Activity">
		    	<div class="tab-row">
						<i class="material-icons icon-left">speaker_notes</i>
						Activity: Some kind of description goes here!
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">speaker_notes</i>
						Activity: Some kind of description goes here!
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">speaker_notes</i>
						Activity: Some kind of description goes here!
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">speaker_notes</i>
						Activity: Some kind of description goes here!
		    	</div>
		    </tab>
		    <tab heading="Documents">
		    	<div class="tab-row">
						<i class="material-icons icon-left">insert_drive_file</i>
						Docoument description goes here!
						<i class="material-icons icon-right">file_download</i>
		    	</div>
					<div class="tab-row">
						<i class="material-icons icon-left">insert_drive_file</i>
						Docoument description goes here!
						<i class="material-icons icon-right">file_download</i>
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">insert_drive_file</i>
						Docoument description goes here!
						<i class="material-icons icon-right">file_download</i>
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">insert_drive_file</i>
						Docoument description goes here!
						<i class="material-icons icon-right">file_download</i>
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">insert_drive_file</i>
						Docoument description goes here!
						<i class="material-icons icon-right">file_download</i>
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">insert_drive_file</i>
						Docoument description goes here!
						<i class="material-icons icon-right">file_download</i>
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">insert_drive_file</i>
						Docoument description goes here!
						<i class="material-icons icon-right">file_download</i>
		    	</div>
		    </tab>
		    <tab heading="Payments">
		    	<div class="tab-row">
						<i class="material-icons icon-left">date_range</i>
						Payment Due: Please make payment by Apr 1st, 2016 
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">flag</i>
						Payment Pending: Payment submitted on Apr 1st, 2016
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">check_box</i>
						Payment Recieved: We recieved your payment on Apr 1st, 2016 -- Thank you!
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">check_box</i>
						Payment Recieved: We recieved your payment on Apr 1st, 2016 -- Thank you!
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">check_box</i>
						Payment Recieved: We recieved your payment on Apr 1st, 2016 -- Thank you!
		    	</div>
		    	<div class="tab-row">
						<i class="material-icons icon-left">check_box</i>
						Payment Recieved: We recieved your payment on Apr 1st, 2016 -- Thank you!
		    	</div>
		    </tab>
		    <tab heading="Agent">
		    	<div class="row">
		    		<div class="small-12 columns">
		    			<h4>AGENT INFO</h4>
		    		</div>
		    	</div>
		    </tab>
		  </tabset>
		</section>
	</article>
</main>
