<div class="text-center loading" ng-if="! policiesLoaded">
	<i class="material-icons">filter_tilt_shift</i>
</div>

<main class="policy-list" ng-if="policiesLoaded">
	<article class="full">
		<section>
			<header>
				<h3>My Policies</h3>
			</header>
			<table>
				<thead>
					<tr>
						<th>Policy #</th>
						<th>Insured Address</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="policy in policies">
						<td ng-click="$parent.policy($index + 1)">#{{ policy.number }}</td>
						<td ng-click="$parent.policy($index + 1)"><strong>{{ policy.type }} Insurance:</strong> {{ policy.address }}</td>
						<td class="text-center" ng-click="$parent.policy($index + 1)">
							<span class="radius success label" ng-if="policy.status === 1">In Effect</span>
							<span class="radius secondary label" ng-if="policy.status === 2">Expired</span>
							<span class="radius alert label" ng-if="policy.status === 3">Cancelled</span>
							<span class="radius warning label" ng-if="policy.status === 4">Pending</span>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</article>
</main>