<section class="policy-list">
	<div class="row">
		<div class="small-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			  <li class="policy-card" ng-repeat="policy in policies">
			  	<div class="card-details">
						<header>
							<h4><i class="entypo-doc-text-inv"></i>{{ policy.type }} Policy</h4>
						</header>

						<section>
							<h6>Policy Number: #{{ policy.number }} </h6>
							<hr>
							<h6>{{ policy.address }} </h6>
							<hr>
							<h6>Status: 
								<span class="radius success label" ng-if="policy.status == 1">In Effect</span>
								<span class="radius secondary label" ng-if="policy.status == 2">Expired</span>
								<span class="radius alert label" ng-if="policy.status == 3">Cancelled</span>
								<span class="radius warning label" ng-if="policy.status == 4">Pending</span>
							</h6>
						</section>

						<footer>
							<a href="#/policy/{{ policy.number }}">View Policy<i class="entypo-right-open-big"></i></a>
						</footer>
					</div>
			  </li>
			</ul>
		</div>
	</div>	
</section>