<section class="policy-list">
	<div class="row">
		<div class="large-4 medium-6 small-12 columns" ng-repeat="policy in policies">
			<div class="policy-card">
				<div class="card-details">
						<header>
							<h4><i class="entypo-doc-text-inv"></i>{{ policy.type }} Policy</h4>
						</header>

						<section>
							<p>Policy Number:</p>
							<span>#{{ policy.number }}</span>
							<hr>
							<p>Address:</p>
							<span>{{ policy.address }}</span>
							<hr>
							<p>Status: 
								<span class="radius success label" ng-if="policy.status == 1">In Effect</span>
								<span class="radius secondary label" ng-if="policy.status == 2">Expired</span>
								<span class="radius alert label" ng-if="policy.status == 3">Cancelled</span>
								<span class="radius warning label" ng-if="policy.status == 4">Pending</span>
							</p>
						</section>

						<footer>
							<a href="#/policy/{{ policy.number }}">View Policy<i class="entypo-right-open-big"></i></a>
						</footer>
					</div>
			</div>
		</div>
	</div>	
</section>