<section class="policy">
	<div class="row">
		<div class="small-12 columns">
			
		</div>

		<div class="small-12 columns">
			<tabset>
		    <tab heading="Activity">
		    	<div class="tab-row" ng-repeat="activity in policy.activity">
						<i class="material-icons icon-left" ng-if="activity.type === 'change'">chat</i>
						<i class="material-icons icon-left" ng-if="activity.type === 'payment'">credit_card</i>
						<strong ng-if="activity.type === 'change'">Policy Change:</strong>
						<strong ng-if="activity.type === 'payment'">Payment Made:</strong>
						{{ activity.description }}
		    	</div>
		    </tab>
		    <tab heading="Documents">
		    	<div class="tab-divider" ng-if="policy.upcoming_documents">Upcoming Documents</div>
		    	<div class="tab-row" ng-repeat="document in policy.upcoming_documents">
						<i class="material-icons icon-left">unarchive</i>
						{{ document.description }}
						<i class="material-icons icon-right" onclick="alert('Download This Document')">file_download</i>
		    	</div>
		    	<div class="tab-divider" ng-if="policy.current_documents">Current Documents</div>
		    	<div class="tab-row" ng-repeat="document in policy.current_documents">
						<i class="material-icons icon-left">insert_drive_file</i>
						{{ document.description }}
						<i class="material-icons icon-right" onclick="alert('Download This Document')">file_download</i>
		    	</div>
		    	<div class="tab-divider" ng-if="policy.past_documents">Prior Documents</div>
		    	<div class="tab-row" ng-repeat="document in policy.past_documents">
						<i class="material-icons icon-left">update</i>
						{{ document.description }}
						<i class="material-icons icon-right" onclick="alert('Download This Document')">file_download</i>
		    	</div>
		    </tab>
		    <tab heading="Agent">
		    	<div class="agent-info">
			    	<div class="small-4 columns">
			    		<img src="http://placehold.it/400" class="th radius">
			    	</div>
		    		<div class="small-8 columns">
		    			<h4>AGENT INFO</h4>
		    			<hr>
		    			<p><strong>Name:</strong> {{ policy.agent.first }} {{ policy.agent.last}}</p>
		    			<p><strong>Phone:</strong> {{ policy.agent.phone }}</p>
		    			<p><strong>Address:</strong> {{ policy.agent.address }}</p>
		    			<p><strong>Email:</strong> {{ policy.agent.email }}</p>
		    		</div>
		    		</div>
		    </tab>
		  </tabset>
		</div>
	</div>
</section>